html, body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    touch-action: none;
    background-color: rgb(24, 24, 24);
    transition: background-color 1s ease;
    width: 100%;
    height: 100%;
}

table {
    margin-top: 0px;
    width: 1000%;
    height: 1200%;
    table-layout: fixed;
    border-collapse: collapse;
    border: none;
    border-spacing: 0px;
    overflow: hidden;
}

h2 {
    font-size: 150px!important;
    margin-block-end: 0em;
    margin-block-start: 0em;
}

td, tr {
    width: 100%;
}

#intro-title {
    color: rgb(175, 136, 63);
}

.fa-angle-double-up {
    font-size: 180px!important;
    z-index: 2;
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translate(-50%, -50%)!important;
    cursor: pointer;
}

.fa-angle-double-down {
    font-size: 180px!important;
    z-index: 2;
    position: absolute;
    bottom: -90px;
    left: 50%;
    transform: translate(-50%, -50%)!important;
    cursor: pointer;
}

.fa-angle-double-left {
    font-size: 180px!important;
    z-index: 2;
    position: absolute;
    left: 90px;
    top: 50%;
    transform: translate(-50%, -50%)!important;
    cursor: pointer;
}

.fa-angle-double-right {
    font-size: 180px!important;
    z-index: 2;
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translate(-50%, -50%)!important;
    cursor: pointer;
}

.path-down {
    z-index: 0;
    position: absolute;
    height: calc(50% + 2px);
    width: 200px;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%)!important;
    background-color: antiquewhite;
    border: none;
}

.path-down-start {
    top: 105%;
}

.path-up {
    z-index: 0;
    position: absolute;
    height: calc(50% + 2px);
    width: 200px;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%)!important;
    background-color: antiquewhite;
    border: none;
}

.path-left {
    z-index: 0;
    position: absolute;
    height: 200px;
    width: calc(50% + 2px);
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%)!important;
    background-color: antiquewhite;
    border: none;
}

.path-right {
    z-index: 0;
    position: absolute;
    height: 200px;
    width: calc(50% + 2px);
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%)!important;
    background-color: antiquewhite;
    border: none;
}

.path-center {
    z-index: 0;
    position: absolute;
    height: 200px;
    width: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)!important;
    background-color: antiquewhite;
    border: none;
    border-radius: 50%;
}

.path-center-start {
    top: 80%;
}

.path-center-end {
    top: 100%;
}

.btn {
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(17, 17, 17);
    border-radius: 20px;
    color: antiquewhite;
    margin-right: 35%;
    margin-left: 35%;
    font-family: 'Amatic SC', cursive;
    font-size: 60px;
    cursor: pointer;
}

.btn:focus{
    outline: none;
    text-decoration: none;
}

.btn:hover {
    background-color: rgb(12, 12, 12);
}

.middle-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.middle {
    width: 100%;
    height: 100%;
}

.section-content {
    z-index: 1;
    width: 100%;
    padding-top: 1px;
    padding-bottom: 5px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section-title {
    color: rgb(175, 136, 63);
    font-size: 60px;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    margin-top: -20px;
}

.section-info {
    color: antiquewhite;
    font-size: 30px;
    margin-left: 10%;
    margin-right: 10%;
    line-height: 32px;
    text-align: center;
    font-family: 'Amatic SC', cursive;
}

.trick {
    color: red;
}

#sprite {
    z-index: 3;
    visibility: hidden;
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.4s ease-in-out!important;
}

@media (max-width:1024px){
    #sprite {
        transition: all 0.8s ease-in-out!important;
    }
}

.head {
    z-index: 3;
    background-color: black;
    position: absolute;
    top: calc(50% - 25px);
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.body {
    z-index: 3;
    background-color: black;
    position: absolute;
    top: calc(50% - 5px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 5px;
    height: 60px;
}

.arms {
    z-index: 3;
    background-color: black;
    position: absolute;
    top: calc(50% - 0px);
    left: calc(50% - 10px);
    transform: translate(-50%, -50%);
    width: 20px;
    height: 5px;
    animation: shake 0.5s linear infinite;
}

.left-leg {
    z-index: 3;
    background-color: black;
    position: absolute;
    top: calc(50% + 22px);
    left: calc(50% - 8px);
    transform: translate(50%, -50%);
    width: 5px;
    height: 20px;
    transform: translate(50%, 0%) rotate(20deg);
}

.right-leg {
    z-index: 3;
    background-color: black;
    position: absolute;
    top: calc(50% + 22px);
    left: calc(50% - 1px);
    transform: translate(50%, -50%);
    width: 5px;
    height: 20px;
    transform: translate(50%, 0%) rotate(-20deg);
}

@keyframes shake {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-10deg); }
    75% { transform: rotate(10deg); }
    100% { transform: rotate(0deg); }
}